<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="reporting.Setup"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="C:\Users\Youssef\IdeaProjects\RestAssuredFrameWork\src\test\java\dealApp\users">

        <classes>
            <class name="DealApp.ADS.CreateAd"/>
            <class name="DealApp.ADS.UpdateAd"/>
            <class name="DealApp.ADS.GetAnAd"/>
            <class name="DealApp.ADS.GetAllAds"/>
            <class name="DealApp.ADS.GetMostInteractiveAds"/>
            <class name="DealApp.ADS.GetMyAds"/>
            <class name="DealApp.ADS.GetAdsFromMap"/>


        </classes>
    </test>
</suite>
